@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Tilt+Warp&display=swap');

:root {
    --primary-colour: #f328c1;
    --primary-colour-dark: #4b0f36;
    --secondary-colour: #90b494;
    --secondary-colour-dark: #102B24;
    --font-primary: 'Tilt Warp', cursive;
    --font-secondary: 'Barlow', 'Helvetica Neue', Helvetica, Arial,  sans-serif;

    --body-bg: #fcfbf4;
    --body-bg-dark: #2e2e2e;
    --text-colour: #090808;
    --text-colour-dark: #ccc;
}

body {
    background-color: var(--body-bg);
    color: var(--text-colour);
    font-family: var(--font-secondary);

    @media (prefers-color-scheme: dark) {
        background-color: var(--body-bg-dark);
        color: var(--text-colour-dark);
    }

    .content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1400px;
        width: 90%;
    }
}

h1, h2, h3, h4 {
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-variation-settings: 'ital' 0, 'wdth' 100, 'wght' 100;
}