// Imports
@use "sass:string";
@use "sass:map";

@import "@/styles/globals.scss";
@import "variables";

// Content Wrap.
@mixin content-wrap {
  padding-left: 7.5vw;
  padding-right: 7.5vw;
}

// Vertical spacing between elements.
@mixin vertical-element-spacing {
  margin-bottom: 2rem;
}

// Horizontal spacing between elements.
@mixin horizontal-element-spacing {
  gap: 2rem;
}

@mixin visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

// Handle breakpoints throughout the site.
@mixin respond-to($breakpoints...) {
  $query: "";

  @each $breakpoint in $breakpoints {

    @if map.has-key($breakpoints-map, $breakpoint) {
      // Add each condition with a comma separator (OR logic)
      $query: if($query == "", string.unquote(map.get($breakpoints-map, $breakpoint)), "#{$query}, #{string.unquote(map.get($breakpoints-map, $breakpoint))}");
    } @else {

      @warn "Breakpoint `#{$breakpoint}` not found. Available breakpoints: #{map.keys($breakpoints-map)}.";
    }
  }

  @media #{$query} {
    @content;
  }
}