.site-footer {

    @import "@/styles/mixins.scss";
    @include content-wrap;

    background-color: var(--secondary-colour);
    color: #fff;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;

    @media (prefers-color-scheme: dark) {
        background-color: var(--secondary-colour-dark);
        color: var(--text-colour-dark);
    }

    @include respond-to('large') {
        display: flex;
        justify-content: space-between;
    }

    .footer-nav {

        @include respond-to('small') {
            @include vertical-element-spacing;
        }

        @include respond-to('large') {
            display: flex;
            order: 2;
        }
    }

    .footer-menu {

        @include respond-to('large') {
            display: flex;
        }

        &__item {
            margin-bottom: .75rem;

            @include respond-to('large') {
                margin-bottom: 0;
                margin-left: 1rem;
            }

            a {
                color: #fff;
            }
        }
    }

    .copyright {

        @include respond-to('large') {
            order: 1;
        }

    }

}