.site-footer {
    background-color: var(--secondary-colour);
    color: var(--text-colour);
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;

    @media (prefers-color-scheme: dark) {
        background-color: var(--secondary-colour-dark);
        color: var(--text-colour-dark);
    }


    .footer-nav {
        color: red;
    }

    .footer-menu {
        color: blue;

        &__item {
            color: pink;
        }
    }

    .legal-nav {
        color: red;
    }

    .legal-menu {
        color: blue;

        &__item {
            color: pink;
        }
    }




}