.siteHeader {

    @import "@/styles/mixins.scss";

    @include content-wrap;

    background-color: var(--primary-colour);
    color: var(--text-colour);
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;

    @media (prefers-color-scheme: dark) {
        background-color: var(--primary-colour-dark);
        color: var(--text-colour-dark);
    }
}