.siteHeader {

    @import "@/styles/mixins.scss";

    @include content-wrap;
    @include element-spacing;

    border-bottom: 3px solid var(--primary-colour);
    color: var(--text-colour);
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 2rem;

    @media (prefers-color-scheme: dark) {
        background-color: var(--primary-colour-dark);
        color: var(--text-colour-dark);
    }

    .logo {
        color: var(--primary-colour);
        text-transform: uppercase;
    }

    .title,
    .description {
        display: block;
    }

    .description {
        font-variation-settings: 'ital' 0, 'wdth' 100, 'wght' 100;
    }
}