.siteHeader {
    background-color: var(--primary-colour);
    color: var(--text-colour);
    text-align: center;

    @media (prefers-color-scheme: dark) {
        background-color: var(--primary-colour-dark);
        color: var(--text-colour-dark);
    }

}

.siteLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}