.header-menu {
  font-family: var(--font-primary);
  text-transform: uppercase;

  @media (max-width: 551px) {
    align-items: center;
    background-color: rgba(35,160,193, .95);
    bottom: 0;
    color: white;
    display: none;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    text-shadow: 0 0 1px rgba(0,0,0,.8);
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  @media (min-width: 552px) {
    align-items: center;
    color: var(--primary-colour);
    display: flex;
    gap: .75rem;
    justify-content: center;
  }

  &--open {
    display: flex;
  }

  &--close {
    @media (max-width: 551px) {
      display: none;
    }
  }

  &__item {
    @media (max-width: 551px) {
      font-size: 2rem;
      margin-bottom: 1rem;
      text-shadow: 0 1px 1px rgba(0,0,0,.5);
    }
  }

}



